@import "tailwindcss";


.custom-toast-container .Toastify__toast {
  background-color: #34a;
  font-weight: bolder;
  color: #fff;
  border-radius: 5px;
}

.custom-toast-container button {
  display: none;
}
